body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(214, 24, 192);
  font-family: Arial, sans-serif;
}

.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;

  width: 75px;
  height: 75px;

  background: rgb(249, 233, 7);
  border-radius: 52px;

  padding: 5px;

  overflow: hidden;

  transition: width 0.5s ease;

  box-shadow: 0 4px 10px rgba(32, 29, 29, 0.2);
}

/* WHEN OPEN */
.search-bar-container.active {
  width: 320px;
  background: rgb(206, 222, 235);
  border-radius: 30px;
}

.magnifier {
  width: 35px;
  cursor: pointer;
  margin-left: 15px;
}

.input {
  border: none;
  outline: none;
  background: transparent;

  font-size: 20px;

  margin-left: 15px;

  width: 100%;

  opacity: 0;

  transition: opacity 0.3s ease;
}

/* SHOW INPUT */
.search-bar-container.active .input {
  opacity: 1;
}

.mic-icon {
  width: 25px;
  margin-right: 20px;
}